@layer components {
  /* Buttons */
  /** Defaults */
  .btn {
    @apply inline-flex shrink-0 items-center justify-center gap-2;
    @apply text-sm font-medium whitespace-nowrap;
    @apply [&_svg]:pointer-events-none [&_svg]:shrink-0 [&_svg:not([class*='size-'])]:size-4;
    @apply rounded-md;
    @apply transition-all duration-300;
    @apply focus-visible:border-ring focus-visible:ring-ring/50 outline-none focus-visible:ring-[3px];
    @apply aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive;
    @apply disabled:pointer-events-none disabled:opacity-50 aria-disabled:pointer-events-none aria-disabled:opacity-50;
  }
  /** Variants */
  .btn.variant-default {
    @apply text-primary-foreground;
    @apply bg-primary shadow-xs;
    @apply hover:bg-primary/80;
  }
  .btn.variant-destructive {
    @apply text-white;
    @apply bg-destructive shadow-xs;
    @apply hover:bg-destructive/80;
    @apply focus-visible:ring-destructive/20 dark:focus-visible:ring-destructive/40 dark:bg-destructive/60;
  }
  .btn.variant-outline {
    @apply bg-background dark:bg-input/30 shadow-xs;
    @apply hover:bg-accent hover:text-accent-foreground dark:hover:bg-input/50;
    @apply dark:border-input border;
  }
  .btn.variant-secondary {
    @apply text-secondary-foreground;
    @apply bg-secondary shadow-xs;
    @apply hover:bg-secondary/50;
  }
  .btn.variant-ghost {
    @apply hover:bg-accent hover:text-accent-foreground dark:hover:bg-accent/50;
  }
  .btn.variant-link {
    @apply text-primary;
    @apply underline-offset-4 hover:underline;
  }
  /** Sizes */
  .btn.size-default {
    @apply h-9 px-4 py-2 has-[>svg]:px-3;
  }
  .btn.size-sm {
    @apply h-8 gap-1.5 px-3 has-[>svg]:px-2.5;
  }
  .btn.size-lg {
    @apply h-10 px-6 has-[>svg]:px-4;
  }
  .btn.size-icon {
    @apply size-9;
  }
  .btn.size-icon-sm {
    @apply size-8;
  }
  .btn.size-icon-lg {
    @apply size-10;
  }
}
