@layer components {
  .ks-prose {
    /* Container */
    @apply w-full max-w-[80ch] px-2;
    @apply leading-normal antialiased;

    /* Reset to prevent container gaps */
    & > :first-child {
      @apply mt-0;
    }
    & > :last-child {
      @apply mb-0;
    }

    /* Vertical rythm defined by <p>*/
    p {
      /* 1.5 (line-height) * 1.5 (WCAG requirement) = 2.25em */
      @apply mb-[2.25em];
      @apply [&_:has(+_:not(p))]:mb-[1.5em];
    }
    p:has(+ h2) {
      @apply mb-[3em];
    }
    p:has(+ h3) {
      @apply mb-[2em];
    }
    p:has(+ :is(ul, ol, pre)) {
      @apply mb-[0.75em];
    }

    /* Headings */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply mb-[0.6em];
      @apply scroll-m-20;
      @apply leading-relaxed tracking-tight text-balance;
    }
    h1 {
      @apply text-[2.25em] font-bold;
    }
    h2 {
      @apply text-[1.875em] font-semibold;
    }
    h3 {
      @apply text-[1.5em] font-medium;
    }
    h4 {
      @apply text-[1.25em];
    }
    h5 {
      @apply text-[1.125em] tracking-wide uppercase;
    }
    h6 {
      @apply text-[1em] tracking-wide uppercase;
    }

    /* Multimedia */
    :is(img, picture, video, figure) {
      @apply mt-[2em] mb-[2em];
    }
    /** Reset margins for nested media **/
    :is(picture, figure) > img {
      @apply my-0;
    }

    /* Links (button component exclusion) */
    a:not(a.btn) {
      @apply font-medium underline decoration-2 underline-offset-2;
      @apply hover:decoration-3;
      @apply visited:font-normal;
      @apply active:no-underline;
      @apply transition-all duration-300;
    }
    /** Styles for `_markup/render-link.html` **/
    .ks-external-link {
      @apply inline-flex items-center;
    }

    /* Lists */
    /** Deep indent for readability **/
    ul,
    ol {
      @apply mb-[1.5em] pl-[2.25em];
    }

    ul {
      @apply list-disc;
    }

    ol {
      @apply list-decimal;
    }

    li {
      @apply pl-[0.25em];
      /** Nested lists **/
      & > :is(ul, ol) {
        @apply mt-0 mb-[0.5em] pl-[1em];
      }
      & > :is(ul) {
        @apply list-[circle];
      }
      & > :is(ol) {
        @apply list-[lower-roman];
      }
    }

    /* Blockquotes */
    blockquote {
      @apply my-[2em] py-1.5 pl-6;
      @apply bg-muted/50 rounded-sm;
      @apply text-muted-foreground italic;
      @apply border-primary border-x-4;

      & > p {
        @apply mb-0;
      }
    }

    /* Tables */
    table {
      @apply my-[2em] w-full overflow-y-auto;
      @apply text-left text-sm;
      @apply border-collapse border;
    }

    thead {
      @apply bg-muted text-muted-foreground;
    }

    th {
      @apply border-b px-4 py-2 font-medium;
    }

    td {
      @apply border-b px-4 py-2;
    }

    tr {
      @apply last:border-b;
    }

    tr:hover {
      @apply bg-muted/50;
    }

    /* Code */
    /** Global reset for code for crisp rendering **/
    code {
      @apply font-mono subpixel-antialiased;
    }
    /** Inline code **/
    :not(pre) > code {
      @apply relative;
      @apply px-[0.3rem] py-[0.2rem];
      @apply bg-muted text-muted-foreground text-sm font-medium;
      @apply rounded-sm;
    }

    /** Block code **/
    pre {
      @apply mb-[1.5em];
      @apply bg-muted text-muted-foreground text-sm;
      @apply rounded-md border;
      @apply overflow-x-hidden;
    }
    pre code {
      @apply block;
      @apply px-4 py-2;
      @apply overflow-x-auto;
    }

    /** Misc Inline **/
    hr {
      @apply my-[2.25em] border;
    }
  }
}
